<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Import Spectre from CDN -->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />

  <title>Document</title>
</head>

<body>
  <div class="container">
    <h1 class="title"><%= props.nameOfProject %></h1>
    <p>
      This project was generated with
      <a href="https://github.com/miguellealw/project-spawner" target="_blank">Project Spawner</a>
    </p>
    <a class="btn btn-primary" href="https://picturepan2.github.io/spectre/getting-started.html" target="_blank" role="button">Spectre
      Docs</a>
  </div>
</body>

</html>